/******************
css for basic page
**************/

body{
    font-family: "monospace", san-serif;
}

.font-primary{
    color: pink;
}
.title-icon{
    font-size: 30px;
    font-weight: bold;
}
/*************
CSS FOR THE ABOUT SECTION
*************/
#about{
    margin: 60px, auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;

}
#about .name{
    font-size: 19px;

}

#about .vocation{
    font-size: 17px;
    color: #6C6E6E;
    margin-bottom: 10px;

}
 #about .skills{
    font-size: 14px;
    color: pink;
    margin-bottom: 10px;

 }

 #about .email{
    margin-top: 14px;
    font-size: 19px;
 }

 #about .icons{
    margin-top: 20px;
    font-size: 30px;
 }

 #about .icons a{
    color:black;

 }